<!DOCTYPE html>
<html>
  <head>
    <title>Bartlby</title>

    <meta name="viewport" content="width=320; initial-scale=1.0;">
    <link rel="stylesheet" type="text/css" href="/html5reset.css" />
    <link rel="stylesheet" type="text/css" href="/bartlby.css" />
  </head>

  <body>

    <%= yield %>

  </body>
</html>
